body{
   background: radial-gradient(circle, #09006f, #0014f3);
}
p{
 color:rgb(255, 255, 255);
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-style: initial;
 font-size: 15px;
 background-color: rgb(3, 44, 120);
}

a:hover {
    text-decoration: underline;
    font-weight: bolder;
    lighting-color: rgb(187, 209, 255);
}
div {
  border-top: 2px solid rgb(0, 6, 87);
  border-right: 4px solid rgb(0, 6, 87);
  border-bottom: 2px solid rgb(0, 6, 87);
  border-left: 4px double solid rgb(0, 6, 87);
}
@media (max-width: 768px) {
  aside {

         flex: 1;
      border: 2px solid #ffffff;
      padding: 15px;
      margin-left: 20px;
      background-color: #1e008b;
      border-radius: 8px;
      }
      
        aside img {
      max-width: 160%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 10px;
    
  }
  }