body {
    font-family:'Segoe UI', Tahoma, sans-serif;
    background-color: #f7d2aa
}
p {
    color: navy;
}
h1,h2,h3,h4,h5,h6 {
    font-family:Helvetica,Arial,sans-serif;
}

figcaption {
    color:#002b0a;
    font-weight: bold;
    background-color: #AAEEFF;
    display: inline;
}
.sale {
    font-weight: bold;
    background-color: lch(90.28% 22.77 221.16);
    font-style: italic;
    font-size: 16pt;
}
#sidenote {
    background-color: #DDDDDD;
    display: inline;
    font-weight: 500;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Palatino Linotype','Times New Roman', serif;
}